<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Музей "Наша Перловка"</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/logo_mus.png">
</head>
<body>
<nav>
    <div class="logo-container">
        <img src="../static/img/logo_mus.png" alt="Наша Перловка">
    </div>
    <ul>
        <li><a href="/index/">Главная</a></li>
        <li><a href="/table/">Таблица</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul>
</nav>
<header>
    <h1>~ Наша Перловка ~</h1>
</header>
<main>
    <section class="about_museum">
        <h2>О музее</h2>
        <p>Рыбный текст о музее и его истории</p>
    </section>
    <section class="news">
        <h2>Новости</h2>
        <ul>
            <li>Новость 1</li>
            <li>Новость 2</li>
            <li>Новость 3</li>
        </ul>
    </section>
    <section class="some_exhibits">
        <h2>Экспонаты</h2>
        <div class="slider-container">
            <div class="slider">
                <div class="card">
                    <img src="../static/img/logo_mus.png" alt="Image 1">
                    <h3>Название 1</h3>
                    <p>Количество: 10</p>
                    <p>Описание 1</p>
                </div>
                <div class="card">
                    <img src="../static/img/logo_mus.png" alt="Image 2">
                    <h3>Название 2</h3>
                    <p>Количество: 15</p>
                    <p>Описание 2</p>
                </div>
                <div class="card">
                    <img src="../static/img/logo_mus.png" alt="Image 3">
                    <h3>Название 3</h3>
                    <p>Количество: 5</p>
                    <p>Описание 3</p>
                </div>
                <!-- Добавьте еще карточки по аналогии -->
            </div>
        </div>
        <script src="../static/slider.js"></script>
    </section>
</main>
<footer>
    <p>&copy; Наша Перловка 2023</p>
</footer>
</body>
</html>
