<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музей "Наша Перловка"</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/logo_mus.png">
</head>
<body>
<nav>
    <div class="logo-container">
        <a href="/index/">
            <img src="../static/img/logo_mus.png" alt="Наша Перловка">
        </a>
    </div>
    <div class="default_menu">
        <ul>
            <li><a href="/index/">Главная</a></li>
            <li><a href="/table/">Таблица</a></li>
            <li><a href="/contacts/">Контакты</a></li>
        </ul>
    </div>
    <div class="drop">
        <label for="burger" class="burger">
            <input id="burger" type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
</nav>
<header>
    <h1 class="text-animation">~ Наша Перловка ~</h1>
    <h3>школьный музей</h3>
</header>
<main>
    <section class="about_museum">
            <h2>О музее</h2>
        <div class="about_museum">
            <p class="about_text">
                &nbsp;&nbsp;&nbsp;&nbsp;Школьный музей "Наша Перловка" расположен в МБОУ СОШ 10 в городе Мытищи, в Московской области. Музей создан в рамках проекта по сохранению исторического наследия местности и приурочен к юбилею школы. Он является местом, где учащиеся могут познакомиться с историей своего родного города и школы, а также с местными традициями и достижениями.

                <br>&nbsp;&nbsp;&nbsp;&nbsp;Музей "Наша Перловка" содержит экспозиции, посвященные разным периодам истории города Мытищи. В экспозициях представлены различные артефакты, фотографии, документы и другие материалы, связанные с историей города, его жителями, а также с историей школы №10.

                <br>&nbsp;&nbsp;&nbsp;&nbsp;В музее также проводятся различные образовательные программы и мероприятия, такие как лекции, экскурсии, мастер-классы, конкурсы и выставки. Они позволяют учащимся расширить свои знания о истории родного города, развивать интерес к историческому наследию и патриотическому воспитанию.

                <br>&nbsp;&nbsp;&nbsp;&nbsp;Школьный музей "Наша Перловка" является важным культурным и образовательным центром для учащихся и педагогов школы, а также для местных жителей и гостей города Мытищи. Он способствует сохранению и продвижению исторического наследия города и его учреждений, а также развитию интереса к истории и культуре среди молодого поколения.
            </p>

            <img src="../static/img/mus1.png" alt="">
        </div>
        <p> <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </section>
    <section class="previous_next">
        <button class="cssbuttons-io">
            <a href="/contacts/">
                <span>< Контакты</span>
            </a>
        </button>
        <button class="cssbuttons-io">
            <a href="/table/">
                <span>Таблица ></span>
            </a>
        </button>
    </section>
</main>
<footer>
    <p>&copy; Наша Перловка 2023</p>
</footer>
<script src="../static/onload.js"></script>
</body>
</html>
