<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музей "Наша Перловка"</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="icon" type="image/png" href="../static/img/logo_mus.png">
</head>
<body>
<nav class="main-nav">
<div class="logo-container">
    <a href="/index/">
        <img src="../static/img/logo_mus.png" alt="Наша Перловка">
    </a>
</div>
<div class="default_menu">
    <ul>
        <li><a href="/index/">ГЛАВНАЯ</a></li>
        <li><a href="/table/">ТАБЛИЦА</a></li>
        <li><a href="/contacts/">КОНТАКТЫ</a></li>
    </ul>
</div>
<div class="toggle">
    <label class="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>
</nav>
<main>
    <div class="back_button">
        <a href="/table/">< назад</a>
    </div>
    <h1 id="itemH1">{{ data[item_number-1][0] }}</h1>
    <section class="example_exhib">
        <div class="example_exhib_text">
            <p><b>Кол-во:</b> {{ data[item_number-1][1] }} шт</p>
            <p><b>Способ получения:</b> {{ data[item_number-1][2] }}</p>
            <p><b>Место обнаружения:</b> {{ data[item_number-1][3] }}</p>
            <p><b>Описание:</b> {{ data[item_number-1][4] }}</p>
            <p><b>Назначение:</b> {{ data[item_number-1][5] }}</p>
            <p><b>Инвентарный №:</b> {{ data[item_number-1][6] }}/{{ data[item_number-1][7] }}/{{ data[item_number-1][8] }}</p>
        </div>
        <img src="../static/img/{{ item_number }}.png" alt="">
    </section>
    <section class="previous_next" id="previous_next_item">
        <a href="/item?value={{ item_number-1 }}/">
            <span>< Предыдущий</span>
        </a>
        <a href="/item?value={{ item_number+1 }}/">
            <span>Следующий ></span>
        </a>
    </section>
</main>
</body>
</html>
